/**
 * @define componet
 * Container
 *
 * Container to define page width and layout.
 *
 */

/* Fluid Lauout */

.Layout
.Container
  padding: 0 14px
  margin: 0 auto

/* Fixed layout variant */

.Layout.Layout--fixed,
.Container.Container--fixed
  max-width: 980px
