include ./households/partials/_hero.jade

include ./households/partials/_page-energyIQ.jade

include ./households/partials/_page-realtimeMonitoring.jade
              
include ./households/partials/_page-optimize.jade

include ./households/partials/_page-technology.jade
