extends layout

block content
  include partials/_navigation.jade
  
  h3 Welcome to roots!
  :marked
    Find tutorials and documentation at http://roots.cx : )
  // test content
  p 
    | You need to sit down and sketch more fucking ideas because 
    | stalking your ex on facebook isn’t going to get you anywhere. 
    | If you’re not being fucking honest with 
    
  h3 {{ landing.hero.title }}
  div {{ landing.hero.subtitle}}
