/* @define Base */

/* opinionated CSS resets on top of Nomalize.css and suitcss-base */
/* via @corrysimmons & mdllite | https://github.com/corysimmons/reeeset/blob/master/src/reeeset.css */

/* via mdl reset */
html {
  height: 100%;
  touch-action: manipulation;
  width: 100%;
}

/* https://css-tricks.com/eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar */
body {
  min-height: 100%; /* via mdl reset */
  overflow-y: scroll;
  width: 100%; /* via mdl reset */
}

/* Clearfix body */
body:after {
  display: table;
  clear: both;

  content: '';
}

/* http://unstoppablerobotninja.com/entry/fluid-images */
audio,
embed,
iframe,
img,
input,
object,
video,
table {
  max-width: 100%;
}

/* A better looking default horizontal rule (via h5bp)*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E5E5E5; // $type-color-divider
  margin: 1em 0;
  padding: 0;
}
