/* Load Normalize */
@css{
  @import 'normalize.css';
}

/* Load global SUIT Css packages */
@css{
  @import 'suitcss-base';
  @import 'suitcss-utils';
  @import 'suitcss-components';
}

/* Load settings */
@import './settings';

/* Common  styles */
@import './components/base';

/* Components */
@import './components/typography';

/* Spage to define some global vatialbel (maybe later) */
//:root
//  --Grid-gutter-size: 28px;

/* Apply base styles */

//base()


//padding: 50px
//lost-center: 980px
.testing
  height: var(--Grid-gutter-size)


.Navigation
  height: 80px
  //background-color: blue;
  background-color: var(--color-faint-gray)
