@css{
  @import 'normalize.css';
  @import 'suitcss-base';
  @import 'suitcss-utils';
  @import 'suitcss-components';
}

:root
  --Grid-gutter-size: 28px

//@import 'toto.css'


//@import '_settings'
//normalize-css()
//base()

body
  //padding: 50px
  lost-center: 980px
.testing
  height: var(--Grid-gutter-size)


.Navigation
  height: 80px
  background-color: blue
