@css {

  /* 1. Import base styles */
  @import 'suitcss-base'; /* via npm */
  /* @import 'base'; */

  /* 2. Import base styles */
  @import 'suitcss-utils'; /*via npm */
  /* @import 'utils-example'; */

  /* 3. Import components */
  /* @import 'suitcss-components'; */ /* via npm */
  /* @import 'components-example'; */

  /* 4. Apply custom settings (optional) */
  @import 'theme-default';

}

/* Stylus legacy
   ========================================================================== */


// TODO:
//    + figure out how to handle fonts

// Load Stylus variables
@import './_settings'

// Stylus common base
@import './_base'

// Load Stylus utilities
@import './_utilities/utils-border'

// Stylus components
@import './_components/components-typography'
@import './_components/components-layout'
@import './_components/components-navigation'
@import './_components/components-hero'
@import './_components/components-page'
@import './_components/components-feature'

//padding: 50px
//lost-center: 980px
