extends ../layout.jade

block content
  include ../partials/_navigation.jade
  
  include ./partials/_hero.jade

  include ./partials/_page-energyIQ.jade

  include ./partials/_page-realtimeMonitoring.jade
                
  include ./partials/_page-optimize.jade
