Section.Hero
  .Layout.Layout--fixed
    .Hero-content
      h1.Hero-title
        | Intelligente Energie für Ihr Zuhause.
      h2.Hero-tagline
        | Revolutionieren Sie Ihre Energieversogung mit Discovergy.
      a(href="vpod").Hero-button
        | Jetzt loslegen
      a(href="").Hero-link
        | oder Kontakt aufnehmen
