Section.Page
  .Layout.Layout--fixed
    .Page-content.u-borderTop.tc
      a(href="").Hero-button
        | Jetzt loslegen
      .Feature
        .Feature-title
          | something
        .Feature-body
          | something
      a(href="").Hero-link
        | oder Kontakt aufnehmen
