Section.Page
  .Layout.Layout--fixed
    .Page-row.Page-content.u-borderTop
      
      .Page-column.pushRight.Page-column--1of2
        .Page-image.Page-image--right 
          img(src="https://discovergy.com/images/pages/functions/Discovergy_Dynamische-Preise.png")
      
      .Page-column.pushLeft.Page-column--1of2.Page-prose.Page-prose--left
        h3.Page-title
          !=data.households.realtime.title
        p.Page-subtitle
          !=data.households.realtime.subtitle
        
        .Page-features
          each feature in data.households.realtime.features
            .Feature
              h6.Feature-title
                != feature.title
              p.Feature-body
                != feature.body
