Section.Page
  .Layout.Layout--fixed
    .Page-row.Page-content.u-borderTop
      
      .Page-column.Page-column--1of2
        .Page-image 
          img.db.center(src='#{data.households.notifications.image.url}' width="300")
      
      .Page-column.Page-column--1of2.Page-prose.Page-prose--right
        h3.Page-title
          !=data.households.notifications.title
        p.Page-subtitle
          !=data.households.notifications.subtitle
        
        .Page-features
          each feature in data.households.notifications.features
            .Feature
              h6.Feature-title
                != feature.title
              p.Feature-body
                != feature.body
