Section.Page
  .Layout.Layout--fixed
    .Page-row.Page-content.u-borderTop
    
      .Page-column
        h3.Page-title.Page-title--center
          != data.households.optimize.prose[0].title
        p.Page-subtitle.Page-subtitle--center.u-lg-size7of12
          != data.households.optimize.prose[0].subtitle
      
      .Page-features.Page-column.Page-row
        each feature in data.households.optimize.features
          .Feature.Feature--1of2
            h6.Feature-title
              != feature.title
            p.Feature-body
              != feature.body

      .Page-column
        .Page-image.Page-image--center.u-md-size10of12.u-lg-size7of12
          img(src='#{data.households.optimize.image.url}' alt='#{data.households.optimize.image.caption}')
          
      .Page-column.Page-column--fullWidth
        h3.Page-title.Page-title--center
          != data.households.optimize.prose[1].title
        p.Page-subtitle.Page-subtitle--center.u-lg-size9of12
          != data.households.optimize.prose[1].subtitle
